 
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@font-face {
  font-family:yekan;
  src: url( '../public/yekan-regular.woff');
}

:Root{
  --white:#ffff;
  --white-50:#f1f1f1;
  --blue:#471AAA;
  --text : #000;
  --mainElement:#fff;
}

body{
  font-family: 'Unbounded', cursive,yekan;
  
  transition: all 0.2s;
  background-color: var(--white-50);
} 

.Main{
  flex: 4;
  padding: 20px;
  padding-right: 250px;
   color: var(--text);
   width: 100%;

}
.App{
  width: 100%;
  display: flex;
}